/*
Login css entire css functionality done in login css
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background: #0ef;
  border-radius: 20px;
  padding: 40px;
}
